.content{
    text-align: center;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.field{
    border-radius: 5px;
    border-style: dashed;
    border-width: thin;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.output{
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    width : 50%;
    margin: auto;
    padding: 20 0 20 0;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    margin-bottom: 20px;
}
.target{
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.target h2{
    margin-bottom: 15px;
    margin-top: 7px;
}
